[Unit]
Description=chatgpt server
After=network.target network-online.target syslog.target
Wants=network.target network-online.target

[Service]
Type=simple
# 路径要写需要执行的脚本路径
ExecStart=bash /home/ubuntu/openai-server/autorun.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target